@media(max-width: 1000px){
    h1{
        font-size: 2rem !important;
    }
    h2{
        font-size:1.5rem !important;
    }
    h3{
        font-size: 1rem !important;
    }
    h4{
        font-size: 0.8rem !important;
    }
    p{
        font-size:0.8rem !important;
    }
    span.red{
        font-size: 3rem;
    }
    span.blue{
        font-size: 3rem;
    }
  }


@media (max-width: 900px) {
    .navbar{
        position: relative !important;
        padding-left:0rem !important;
        padding-right:0rem !important;
        margin-left:0rem !important;
        margin-right:0rem !important;
    }
    
}
body{
    background-image: url(Title\ Pic.png);
}

nav.navbar:hover{
    background-color: rgba(0, 0, 0, 0.6);

    
    
}

.navbar:hover .logo{
    filter:invert(0%);
}

.logo{
    width: 6rem;
    padding-top: 1rem;
    filter:invert(70%);
}



.navbar{
    top:0;
    padding-top: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
    width: 100%;
    position:fixed;
    z-index: 1;
}

.nav-item{
    margin-left: 1.2rem;
}

.nav-item:hover{
    font-weight: 700;
}

@media(min-width: 900px){
    .content{
        padding-left: 22%;
        padding-right: 22%;
    }
}
h1{
    font-size: 4rem;
    font-weight: 900;
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 2.4rem;
    
}

.subtitle{
    font-size: 1.6rem;
    font-weight: 300;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span.blue{
    color: #0055C9;
    font-size: 6rem;
}

span.red{
    color: #ff1943;
    font-size: 6rem;
}

h3{
    font-size: 1.2rem;
    font-weight: 700;
}

.accordion-item{
    border-width: 0.2rem;
    border-color: black;
}

.page-pic{
    width: 100%;
    height:auto;
    border-radius: 1rem;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

p.caption{
    font-size: 0.8rem;
}

h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

ul{
    list-style-image: url('icons8-chevron-right-50.png');

}
.content{
    justify-content: center;
    background-color: white;
    margin-top: 30%;
}

.lst{
    margin-left: 6rem;
    
}

.lst-2{
    margin-left: 6rem;
    margin-top: -1rem;
    
}


.button{
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}

.overview{
    justify-content: center;
    display: flex;
}
